.mamahack-fb,
.mamahack-tw {
  max-width: 100%;
  font-weight: 700;
}
.mamahack-fb {
  display: table;
  table-layout: auto;
  margin-bottom: 20px;
  width: 100%;
  background-color: #2b2b2b;
  color: #fff;
}
.mamahack-fb .mamahack-fb__boxThumb {
  display: table-cell;
  min-width: 150px;
  background-position: center;
  background-size: cover;
  overflow: auto;
}
.mamahack-fb .mamahack-fb__boxLike {
  display: table-cell;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  font-size: 12px;
}
.mamahack-fb .mamahack-fb__boxLike__message {
  margin-top: 0;
  margin-bottom: 0;
}
.mamahack-fb .mamahack-fb__boxLike__button {
  margin: 15px auto 0;
  display: inline-block;
  width: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.mamahack-fb .mamahack-fb__boxLike__button > iframe{
  margin: 0;
}
.mamahack-fb .mamahack-fb__boxLike__note {
  display: none;
}
.mamahack-tw {
  margin-bottom: 10px;
  border: 2px solid #e6e6e6;
  padding: 7px 0;
  text-align: center;
  font-size: 15px;
  color: #252525
}
.mamahack-tw .mamahack-tw__item {
  display: inline;
  vertical-align: middle;
  font-size: 15px;
}
.mamahack-tw .mamahack-tw__item > span {
  display: none;
}
.mamahack-tw iframe[id*="twitter-widget-"]{
  margin: 7px !important;
  vertical-align: middle;
}
@media screen and (min-width: 44.375em) {
  .mamahack-fb,
  .mamahack-tw {
    font-weight: 300;
  }
  .mamahack-fb {
    table-layout: fixed;
  }
  .mamahack-fb .mamahack-fb__boxLike {
    padding: 20px;
  }
  .mamahack-fb .mamahack-fb__boxLike__message {
    font-size: 15px;
  }
  .mamahack-fb .mamahack-fb__boxLike__button {
    margin: 30px auto;
  }
  .mamahack-fb .mamahack-fb__boxLike__note {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: #999;
  }
  .mamahack-tw {
    border: none;
    background: #f4f4f4;
  }
  .mamahack-tw .mamahack-tw__item > span{
    display: inline;
  }
}
